@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-brand: "Montserrat", sans-serif;

  --color-primary: #f9a602;
  --color-dark: #0A0A0A;

 
}
.slick-list {
          overflow: visible !important;
        }
        .slick-track {
          display: flex !important;
          align-items: center !important;
        }